Test-Command: modprobe btn-touch-mod
Depends: @, linux-headers-generic | linux-headers
Features: test-name=smoke-load-module
Restrictions: needs-root, needs-recommends, isolation-container, superficial
